body{
	color: #555;
	font-size: 15px;
	line-height: 1.7;
	width: 100%;
	height: 100%;
}

.index-main{
    min-height: 800px;
    min-width: 400px;
    background: #ffff00;
	margin:0 auto;
	text-align: center;
}

.index-header .logo{
    margin: 0 auto;
    background:url("../img/logo.6837e927.png") no-repeat;
}

.hide-text{
    color:transparent;
}

